<form class="mat-elevation-z8" (ngSubmit)="onSubmit()">

    <h2>Add</h2>

    <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" placeholder="name" required  [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Alias</mat-label>
        <input matInput [(ngModel)]="alias" placeholder="alias"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Biography</mat-label>
        <input  matInput  [(ngModel)]="biography" placeholder="biography"  [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-select [(ngModel)]="type" required  [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let t of artistType" [value]="t">
                {{t}}
            </mat-option>
        </mat-select>
        <mat-label>Type</mat-label>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Date of birth</mat-label>
        <input readonly matInput [(ngModel)]="dob" [matDatepicker]="picker"  [ngModelOptions]="{standalone: true}">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">Save</button>

</form>
