
<div class="mat-elevation-z8">

	<p-panel header="{{name}}">
		<p>
			{{biography}}
		</p>
	</p-panel>

	<p-table [value]="trackList" [tableStyle]="{ 'min-width': '50rem' }">
		<ng-template pTemplate="header">
			<tr>
				<th>Title</th>
				<th>Album</th>
				<th>Genre</th>
				<th>Length</th>
				<th>Release</th>
				<th>Language</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-track>
			<tr>
				<td>{{ track.title }}</td>
				<td>{{ track.album }}</td>
				<td>{{ track.genre }}</td>
				<td>{{ track.length }}</td>
				<td>{{ track.release }}</td>
				<td>{{ track.language }}</td>
			</tr>
		</ng-template>
	</p-table>

</div>
